// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.popover{
  z-index:99999;
  .inner{
    font-size:8px;
    font-weight:normal;
  }
}
.avator_icon {
  width: 20px;
  height: 20px;
  border: none;
}
.avator_icon_dummy {
  float: left;
  background-color: dimgray;
  width: 20px;
  height: 20px;
  border: none;
}
